#member-detail {
    min-height: 320px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.5);
}

#member-detail .member_banner {
    position: relative;
}

#member-detail .member_banner>div {
    /*border: 1px solid #ccc;*/
    /*font-size: 1.5em;*/
    /*padding: 5px;*/
    position: absolute;
    right: 5px;
    z-index: 10;
}

#member-detail .member_logo {
    border: 1px solid #ccc;
    height: 191px;
    margin-left: 25px;
    width: 218px;
    padding: 3px;
    -webkit-box-shadow: 6px 5px 33px rgba(0, 0, 0, .2);
    -moz-box-shadow: 6px 5px 33px rgba(0, 0, 0, .2);
    -ms-box-shadow: 6px 5px 33px rgba(0, 0, 0, .2);
    -o-box-shadow: 6px 5px 33px rgba(0, 0, 0, .2);
    box-shadow: 6px 5px 33px rgba(0, 0, 0, .2);
}
#member-detail .member_logo img{
    max-width: 100%;
    max-height: 100%;
}

#member-detail h2 {
    color: #007cbd;
    font-size: 24pt;
    font-weight: 700;
    margin-top: 0;
    /*text-shadow: -.4px 3px 8px rgba(0, 0, 0, .35);*/
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#member-detail .member-info {
    color: #4d4d4d;
    font-size: 14pt;
    min-height: 110px;
    /*text-shadow: -.4px 3px 8px rgba(0, 0, 0, .35);*/
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#member-detail .member-social a {
    color: #999;
    font-size: 20pt;
    margin-right: 5px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
}

#member-detail .member-social a:hover {
    color: #000;
}

#member-detail .member-social a.disabled {
    color: #ccc;
    cursor: not-allowed;
}

#member_about {
    background-color: white;
    margin-top: 50px;
}

#member_certificate {
    background-color: #eceadf;
}

#member_certificate .thumbnail {
    height: 140px;
    padding: 5px;
}

#member_content hr {
    border-top: 1px dashed #ccc;
    margin: 10px 0;
}

#member_contact {
    background-color: white;
    margin-top: 50px;
}
